.chat-header{
    height: 56px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header{
    &__avatar-container{
        width: 56px;
        padding: 8px;
    }

    &__user-data{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__actions{
        display: flex;
        align-items: center;
        gap: 16px;
        margin-right: 16px;
    }

    &__actions>div{
        width: 24px;
        aspect-ratio: 1;
        cursor: pointer;
        transform: scale(1);
        transition: transform .5s ease;
    }

    &__actions>div:hover{
        transform: scale(0.9);
        transition: transform .5s ease;
    }

    &__action-search{
        background: center / cover no-repeat url(/chat/search.svg);
    }

    &__action-call{
        background: center / cover no-repeat url(/chat/call.svg);
    }

    &__action-more{
        background: center / cover no-repeat url(/chat/more.svg);
    }
}