.chat-list{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.chat-list-container{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100vh;
    transition: width .5s ease;
}

.chat-list-container.collapsed{
    min-width: unset;
    width: 80px;
    transition: width .5s ease;
}