.chat-list{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.chat-list-container{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100vh;
    min-width: 350px;
}