.chat-search-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.chat-search-bar{
    &__collapse{
        padding: 12px 12px 12px 26px;
        cursor: pointer;
        transform: scale(1);
        transition: transform .5s ease;
    }

    &__collapse:hover{
        transform: scale(.9);
        transition: transform .5s ease;
    }

    &__search{
        width: 100%;
        padding: 0 12px 0 0;
    }
}