@import "./../../assets/css/global";

.chat-window{
    position: relative;
    background: $blue;
    height: 100vh;
    flex-grow: 1;
    padding: 72px 32px 24px 32px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: hidden;
}

.chat-window{
    .chat-window__message-list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}